<footer class="footer pt-4 pb-3 @@classes">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="footer-links-horizontal mt-2">
                    <li><a target="_blank" href="@@path/html/about/contact.html">Contact bitLogic</a></li>
                    <li><a target="_blank" href="@@path/html/about/about.html">About Us</a></li>
                    <li><a target="_blank" href="@@path/html/pages/privacy.html">Privacy
                    <li><a target="_blank" href="@@path/html/pages/terms.html">Terms of use</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="social-buttons mb-5 mb-lg-0 float-end">
                    <li>
                        <a href="https://twitter.com/themesberg" aria-label="twitter social link"
                            class="icon-white me-2">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/themesberg/" class="icon-white me-2"
                            aria-label="facebook social link">
                            <span class="fab fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/themesberg" aria-label="github social link" class="icon-white me-2">
                            <span class="fab fa-github"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/themesberg" class="icon-white" aria-label="dribbble social link">
                            <span class="fab fa-dribbble"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-3">
        <div class="row">
            <div class="col mb-md-0">
                <!-- <a href="/" target="_blank" class="d-flex justify-content-center mb-3">
                    <img src="@@path/assets/img/brand/full-light@0.5x.webp" height="35" class="me-2" alt="Logo">
                </a> -->
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0 text-muted">Copyright © <img
                            src="@@path/assets/img/brand/light.webp" height="17" class="me-2" alt="Logo"
                            style="margin-right: 0px !important; vertical-align: text-top;">
                        bitLogic systems 2011-<span class="current-year">2023</span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>