<footer class="footer pt-4 pb-3 @@classes">
    <div class="container">
        <div class="row d-none d-md-flex">
            <div class="col-12 col-md-9">
                <ul class="footer-links-horizontal mt-2">
                    <li><a href="/html/about/contact.html">Contact bitLogic</a></li>
                    <li><a href="/html/about/about.html">About Us</a></li>
                    <li><a href="/html/pages/privacy.html">Privacy
                    <li><a href="/html/pages/terms.html">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-3">
                <ul class="social-buttons mb-0 mt-2 float-end">
                    <li>
                        <a href="https://linkedin.com/bitLogic" aria-label="linkedin social link" class="icon-white me-2">
                            <i class="icon icon-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/bitLogic" aria-label="twitter social link" class="icon-white me-2">
                            <i class="icon icon-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/bitLogic/" class="icon-white me-2" aria-label="facebook social link">
                            <i class="icon icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/bitLogic" aria-label="github social link" class="icon-white me-2">
                            <i class="icon icon-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:kqzrjbg@gmail.com?subject=request from the bitLogic website" id="email" aria-label="email link"
                            class="icon-white me-2">
                            <i class="icon icon-envelope-solid"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="bg-secondary my-3 my-lg-3">
        <div class="row">
            <div class="col mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="fw-normal font-small mb-0 text-muted">
                        Copyright ©
                        <img src="/assets/img/favicon/favicon-32x32.png" height="16" width="16" class="me-2" alt="Logo"
                            style="margin-right: 0px !important; vertical-align: text-top; margin-top: 2px;">
                        bitLogic.systems 2011-<span class="current-year">2023.</span><span class="d-none d-md-inline">
                            All rights reserved.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>