<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Preload woff2 fonts -->
<link rel="preload" href="@@path/assets/fonts/IBM-Plex-Sans-400.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="@@path/assets/fonts/IBM-Plex-Sans-600.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="@@path/vendor/@fortawesome/fontawesome-free/webfonts/fa-solid-900.woff2" as="font"
    type="font/woff2" crossorigin>
<link rel="preload" href="@@path/vendor/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2" as="font"
    type="font/woff2" crossorigin>
<link rel="preload" href="@@path/vendor/@fortawesome/fontawesome-free/webfonts/fa-regular-400.woff2" as="font"
    type="font/woff2" crossorigin>

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Glide JS -->
<!-- <link rel="stylesheet" href="@@path/vendor/@glidejs/glide/dist/css/glide.core.min.css"> -->
<!-- <link rel="stylesheet" href="@@path/vendor/@glidejs/glide/dist/css/glide.theme.min.css"> -->

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/pixel.css" rel="stylesheet">

<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="bitLogic">
<meta name="description"
    content="bitLogic.systems - Service Transformation approach, with business-driven KPIs, state-of-the-art reference frameworks and capabilities, achieve agile and rapid delivery of business value that compound over time, along with digital end-to-end customer experience.">
<meta name="keywords"
    content="Software Devevelompent, Service Transformation Solutions, Cloud solutions, Cognitive Microservices" />
<link rel="canonical" href="https://bitlogic.systems">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://bitlogic.systems">
<meta property="og:title" content="@@title">
<meta property="og:description"
    content="bitLogic.systems - Service Transformation approach, with business-driven KPIs, state-of-the-art reference frameworks and capabilities, achieve agile and rapid delivery of business value that compound over time, along with digital end-to-end customer experience.">
<meta property="og:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/pixel-pro/pixel-pro-preview.jpg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://bitlogic.systems">
<meta property="twitter:title" content="@@title">
<meta property="twitter:description"
    content="bitLogic.systems - Service Transformation approach, with business-driven KPIs, state-of-the-art reference frameworks and capabilities, achieve agile and rapid delivery of business value that compound over time, along with digital end-to-end customer experience.">
<meta property="twitter:image"
    content="https://themesberg.s3.us-east-2.amazonaws.com/public/products/pixel-pro/pixel-pro-preview.jpg">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
@@if (environment === 'production') {
@@include('./_analytics.html')
}