@@if (environment === 'production') {
@@include('./_analytics-body.html')
}

<header class="header-global">
    <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom @@classes">
        <div class="container-fluid">
            <!-- <div class="container position-relative"> -->
            <div class="navbar-brand me-lg-5 ms-1">
                <a href="/index.html">
                    <img class="navbar-brand-dark" src="/assets/img/brand/full-light-52.webp"
                        srcset="/assets/img/brand/full-light-52@0.5x.webp 1x, /assets/img/brand/full-light-52.webp 2x" width="113" height="26" alt="Logo light">
                    <img class="navbar-brand-light" src="/assets/img/brand/full-dark-52.webp"
                        srcset="/assets/img/brand/full-dark-52@0.5x.webp 1x, /assets/img/brand/full-dark-52.webp 2x" width="113" height="26" alt="Logo dark">
                </a>
            </div>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="/index.html">
                                <img src="/assets/img/brand/full-dark-52.webp" width="113" height="26" alt="logo">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <a href="#navbar_global" class="icon icon-times-solid" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global"
                                aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav navbar-nav-hover me-auto mb-2 mb-lg-0 ">
                    <!-- Our approach -->
                    <li class="nav-item">
                        <a href="/html/about/our_approach.html" class="nav-link"> Our approach</a>
                    </li>
                    <!-- Industries -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="industriesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Industries
                            <span class="icon icon-angle-down-solid nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-sm p-0" aria-labelledby="industriesDropdown">
                            <div class="row g-0">
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/industries/telecommunications.html">Telecommunications</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/industries/banking_finance.html">Banking and
                                                Finance</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/debt_collection.html">Debt
                                                Collection</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/industries/professional_services.html">Professional
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/healthcare.html">Healthcare</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/government.html">Government</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/hi-tech.html">Hi-tech/Software</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/hr.html">Human
                                                Resources</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/industries/insurance.html">Insurance</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/agriculture.html">Agriculture ???</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/education.html">Education</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/automotive.html">Automotive
                                                ???</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/energy.html">Energy
                                                and Utilities </a></li>
                                        <li><a class="dropdown-item" href="/html/industries/manufacturing.html">Manufacturing</a></li>
                                        <li><a class="dropdown-item" href="/html/industries/military.html">Military</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/industries/cybersecurity.html">Cyber
                                                Security</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Services -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="servicesDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Services
                            <span class="icon icon-angle-down-solid nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu p-0" aria-labelledby="servicesDropdown">
                            <div class="row g-0">
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/services/application-services.html">Application
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/blockchain.html">Blockchain</a></li>
                                        <li><a class="dropdown-item" href="/html/services/business-process-services.html">Business
                                                Process Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/cloud.html">Cloud</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/contact-center.html">Contact
                                                Center Setup</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/cyber-security.html">Cyber
                                                Security</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/dba.html">Database
                                                Administration</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/devops.html">DevOps</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/ai.html">AI</a></li>
                                        <li><a class="dropdown-item" href="/html/services/digital.html">Digital</a></li>
                                        <li><a class="dropdown-item" href="/html/services/enterprise-automation.html">Enterprise
                                                Automation</a></li>
                                        <li><a class="dropdown-item" href="/html/services/experience-design.html">Experience
                                                Design</a></li>
                                        <li><a class="dropdown-item" href="/html/services/governance-risk-compliance.html">Governance,
                                                Risk &amp Compliance</a></li>

                                    </ul>
                                </div>
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/services/infrastructure-services.html">Infrastructure
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/modernization.html">Modernization</a></li>
                                        <li><a class="dropdown-item" href="/html/services/next-gen-data.html">Next-Gen
                                                Data</a></li>
                                        <li><a class="dropdown-item" href="/html/services/next-gen-it-operations.html">Next-Gen IT
                                                Operations</a></li>
                                        <li><a class="dropdown-item" href="/html/services/product-engineering.html">Product
                                                Engineering</a></li>
                                        <li><a class="dropdown-item" href="/html/services/agile-it-operations.html">Agile IT
                                                Operations</a></li>
                                        <li><a class="dropdown-item" href="/html/services/aws-services.html">AWS
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/azure-services.html">Azure
                                                Services</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/services/gcp-services.html">GCP
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/vmware-tanzu-services.html">VMware Tanzu
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/oracle.html">Oracle
                                                Services</a></li>
                                        <li><a class="dropdown-item" href="/html/services/techsupport.html">Technical
                                                Support (L1-L3) </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- Innovations -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="innovationsDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            Innovations
                            <span class="icon icon-angle-down-solid nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-xs p-0" aria-labelledby="innovationsDropdown">
                            <div class="row g-0">
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/innovations/service_transformation.html">Service
                                                Transformation</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                    <!-- About -->
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="aboutDropdown" aria-expanded="false" data-bs-toggle="dropdown">
                            About
                            <span class="icon icon-angle-down-solid nav-link-arrow ms-1"></span>
                        </a>
                        <div class="dropdown-menu dropdown-megamenu-xs p-0" aria-labelledby="aboutDropdown">
                            <div class="row g-0">
                                <div class="col ps-0 py-3">
                                    <ul class="list-style-none">
                                        <li><a class="dropdown-item" href="/html/about/about.html">About bitLogic</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/about/leadership.html">Leadership</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/about/culture.html">Culture</a></li>
                                        <li><a class="dropdown-item" href="/html/about/investors.html">Investors</a>
                                        </li>
                                        <li><a class="dropdown-item" href="/html/about/careers.html">Careers</a></li>
                                        <li><a class="dropdown-item" href="/html/about/esg.html">ESG</a></li>
                                        <li><a class="dropdown-item" href="/html/about/csr.html">CSR</a></li>
                                        <li><a class="dropdown-item" href="/html/about/contact.html">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Right menu -->
                <ul class="navbar-nav align-items-center">
                    <!-- Search --> <!-- TODO: butiful search list: https://flexiblog-agency.netlify.app/ -->
                    <li class="nav-item d-none d-lg-block">
                        <form class="me-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="searchInputIconRight" placeholder="Search" aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2"> <span class="icon icon-magnifying-glass-solid"> </span> </span>
                            </div>
                        </form>
                    </li>
                    <!-- Login -->
                    <li class="nav-item d-none d-lg-block">
                        <a href="/pages/account/login.html" class="nav-link"> <i class="icon icon-right-to-bracket-solid"></i></a>
                    </li>
                </ul>
                <!-- Right menu -->
                <!-- <ul class="navbar-nav dropdown align-items-center"> -->
                <!-- Search --> <!-- TODO: butiful search list: https://flexiblog-agency.netlify.app/ -->
                <!-- <li class="nav-item">
                        <form class=" d-none d-md-block me-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" id="searchInputIconRight" placeholder="Search" aria-label="Search"
                                    aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">
                                    <span class="icon icon-magnifying-glass-solid">
                                    </span>
                                </span>
                            </div>
                        </form>
                    </li> -->
                <!-- Login -->
                <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUserLink" data-bs-toggle="dropdown">
                            <i class="icon icon-user-large-solid"></i>
                            <span class="icon icon-angle-down-solid nav-link-arrow ms-1"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUserLink">
                            <li><a class="dropdown-item" href="pages/account/profile.html"><span class="icon icon-circle-user-solid me-2"></span>My profile</a> </li>
                            <li><a class="dropdown-item" href="pages/account/settings.html"><span class="icon icon-gear-solid me-2"></span>Settings</a> </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="pages/authentication/basic-login.html"><span
                                        class="icon icon-right-from-bracket-solid me-2"></span>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul> -->
            </div>

            <div class="d-flex align-items-center">
                <!-- Search --> <!-- TODO: butiful search list: https://flexiblog-agency.netlify.app/ -->
                <!-- <form class="d-none d-md-block me-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="searchInputIconRight" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">
                            <span class="icon icon-magnifying-glass-solid">
                            </span>
                        </span>
                    </div>
                </form> -->

                <!-- Login -->
                <!-- <div class="nav-item">
                    <a href="/pages/account/login.html" class="nav-link"> <i class="icon icon-right-to-bracket-solid"></i></a>
                </div> -->
                <!-- <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="icon icon-user-large-solid"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="pages/account/profile.html"><span class="icon icon-circle-user-solid me-2"></span>My
                                profile</a>
                        </li>
                        <li><a class="dropdown-item" href="pages/account/settings.html"><span class="icon icon-gear-solid me-2"></span>Settings</a>
                        </li>
                        <li><a class="dropdown-item" href="pages/authentication/basic-login.html"><span class="icon icon-right-from-bracket-solid me-2"></span>Logout</a>
                        </li>
                    </ul>
                </div> -->

                <!-- toggle button for mobile -->
                <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
</header>