@@if (environment === 'production'){
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<!-- <script src="/vendor/jquery-ui-dist/jquery-ui.min.js"></script> -->

<script src="/js/all.min.js"></script>
}

@@if (environment !== 'production'){
<!-- Core -->
<script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->

<!-- jQuery, should be before custom.js -->
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<!-- <script src="/vendor/jquery-ui-dist/jquery-ui.min.js"></script> -->

<!-- Main JS -->
<script src="/js/main.js"></script>
<script src="/js/custom.js"></script>

<!-- !!!!!! if you add some scripts here - don't forgot to add them to gulpfile.js -->

}


<!-- Disabled scripts, because I don't use them -->
<!-- Vendor JS -->
<!-- A light library that does stuff when the matched elements enter or leave the viewport -->
<!-- <script src="/vendor/onscreen/dist/on-screen.umd.min.js"></script> -->

<!-- JavaScript Range Slider -->
<!-- <script src="/vendor/nouislider/dist/nouislider.min.js"></script> -->

<!-- The easiest advanced Parallax and Video backgrounds -->
<!-- <script src="/vendor/jarallax/dist/jarallax.min.js"></script> -->

<!-- JavaScript library to make drawing animation on SVG -->
<!-- <script src="/vendor/vivus/dist/vivus.min.js"></script> -->

<!-- SIMPLE RESPONSIVE CHARTS -->
<!-- <script src="/vendor/chartist/dist/chartist.min.js"></script> -->
<!-- <script src="/vendor/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script> -->

<!-- A dependency-free JavaScript ES6 slider and carousel.  -->
<!-- <script src="/vendor/@glidejs/glide/dist/glide.min.js"></script> -->

<!-- Couter -->
<!-- <script src="/vendor/countup.js/dist/countUp.umd.js"></script> -->

<!-- Date picker -->
<!-- <script src="/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script> -->

<!-- Smooth scroll -->
<!-- <script src="/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script> -->