// ********************************************************************************
// corrections to default theme

#navbar-main {
    padding-top: 0px;
    padding-bottom: 0px;

    .container-fluid {
        border-bottom: 1px solid #E0E0E0;
    }

    .navbar-brand {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    // Styles for large-size devices
    @media (min-width: 992px) {
        .nav-item:first-child {
            margin-left: 16px !important;
        }

        .navbar-brand {
            padding: 12px 20px 12px 12px;
            margin: 0px !important;
            margin-top: 2px !important;
            position: relative;

            a::after {
                content: "";
                display: block;
                position: absolute;
                right: -0.1875rem;
                top: 50%;
                transform: translateY(-50%);
                height: 1.5rem;
                width: 0.0625rem;
                background-color: var(--cds-ui-03, #e0e0e0);
            }
        }
    }

    .nav-link-right {
        padding-right: 8px;
        padding-left: 8px;
    }

    .nav-link {
        padding: 6px 10px;
    }

    // .navbar-brand {
    //     img {
    //         height: 26px;
    //     }
    // }
}

.header-shift {
    position: relative;
    margin-top: 52px;
}

@media only screen and (max-width: 991px) {
    .display-3 {
        font-size: 2.5rem;
    }
}


// ***********************************************************************************
// settings wheel button

.setting-wheel-button {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    // color: #000;
    font-size: 12px;
    z-index: 9999;
}

.setting-wheel-button i {
    color: #888;
}

.modal-backdrop.show {
    opacity: 0 !important;
}

// ***********************************************************************************
// TOC

.toc {
    // position: fixed;
    position: sticky; // I want sticky position
    // top: 1rem;
    left: 3em;
    top: 5em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible>a {
    color: #111;
    -webkit-transform: translate(5px);
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

}


// ***********************************************************************************
// other changes

// text-justify

.text-justify {
    text-align: justify !important;
    text-justify: inter-word;
}

// ***********************************************************************************
// card

.card {
    position: relative;

    .arrow-link {
        color: $tertiary; //$secondary; //primary;
    }

    // define a minimum size for the entire card
    // min-height: 200px;

    @media (min-width: 992px) {
        .card-img-top {
            // define a minimum size for the image
            min-width: 100%;
            min-height: 194px;
            max-height: 194px;
            object-fit: cover;
        }

        .card-body {
            .card-title {
                min-height: 26px;
            }

            .card-text {
                min-height: 77px;
            }

            .card-btn {
                min-height: 20px;
            }
        }
    }
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9999px;
    /* This moves the link text off-screen */
}

.card-link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

// ***********************************************************************************
// 

.social-buttons {

    a,
    .btn {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

// ***********************************************************************************
// my custom elements


// fade left part of image (to gray color)

.image-fade-left {
    position: relative;
    // overflow: hidden;
    display: inline-block;
}

.image-header {
    width: 100%;
    /* 100 / 16 * 9 */
    position: relative;
    max-height: 440px;
    overflow: hidden;

    div {
        // height: 100%;
        // width: 100%;
        padding-top: 56.25%;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // width: 100%;
    // /* You can set this to any value you desire */
    // position: relative;
    // display: inline-block;
    // max-height: 440px;
    // overflow: hidden;
    // /* This will hide any overflow caused by ignoring the aspect ratio */


    // &::before {
    //     content: "";
    //     display: block;
    //     padding-top: 56.25%;
    //     /* 9/16 * 100% */
    // }

    // picture {
    //     position: absolute;
    //     // top: 0;
    //     // left: 0;
    //     // right: 0;
    //     // bottom: 0;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     min-height: 100%;
    //     min-width: 100%;
    //     // object-fit: cover;
    // }

    // img {
    //     min-height: 100%;
    //     min-width: 100%;
    //     object-fit: cover;
    // }
}

.image-fade-left::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background: linear-gradient(to left, rgba(243, 244, 246, 0) 0%, rgba(243, 244, 246, 1) 100%);
}

// ************************************************************************************
// lazy loading blurred image

.image-blurred {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     opacity: 0;
    //     // animation: pulse 2.5s infinite;
    //     background-color: #000;
    // }

    // &.loaded::before {
    //     animation: none;
    //     content: none;
    // }

    img {
        opacity: 0;
        // transition: opacity 150ms ease-in-out;
    }

    &.loaded img {
        opacity: 1;
    }
}

// @keyframes pulse {
//     0% {
//         opacity: 0;
//     }

//     50% {
//         opacity: 0.1;
//     }

//     100% {
//         opacity: 0;
//     }
// }